<p><strong>Utorak 21.01.</strong></p>

<p>sarma + pire&nbsp;</p>

<p><img src="http://192.168.210.140:3002/1543918454056_sarma.jpeg" /></p>

<p><strong>Četvrtak 16.01.</strong></p>

<p>juha + lungić u umaku od &scaron;ampinjona + njoki + salata</p>

<p><img src="http://192.168.210.140:3002/1536655186048_njoki-s-tartufima-i-vrganjima-img.jpg" /></p>

<p><strong>Utorak 14.01.</strong></p>

<p>buncek + dinstano kiselo zelje + restani krumpir</p>

<p><img src="http://192.168.210.140:3002/1578993505394_buncekizelje.png" /></p>

<p><strong>Četvrtak 09.01.</strong></p>

<p>mahune (varivo) + pečeno meso</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 07.01.</strong></p>

<p>&nbsp;juha + &scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak 10.12.</strong></p>

<p>dinstano zelje + restani krumpir + pečenice</p>

<p><img src="http://192.168.210.140:3002/1575974624261_dinstano zelje.jpg" /></p>

<p><strong>Četvrtak 05.12.</strong></p>

<p>&nbsp;juha + rižoto na provansalski + salata</p>

<p><img src="http://192.168.210.140:3002/1527584887974_rizoto-s-rajcicom-i-pecenom-paprikom-img.jpg" /></p>

<p><strong>Utorak 03.12.</strong></p>

<p>sarma + pire</p>

<p><img src="http://192.168.210.140:3002/1543918454056_sarma.jpeg" /></p>

<p><strong>Četvrtak 28.11.</strong></p>

<p>&scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak 26.11.</strong></p>

<p>mahune varivo + pečeno meso + desert (baklave by teta Vi&scaron;nja)</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 19.11.</strong></p>

<p>juha + juneći saft + &scaron;iroki rezanci + salata</p>

<p><img src="http://192.168.210.140:3002/1523269264981_juneci-vrat-u-umaku.jpg" /></p>

<p><strong>Četvrtak 14.11.</strong></p>

<p>juha od rajčice + krpice sa zeljem + pečeni zabaci + salata</p>

<p><img src="http://192.168.210.140:3002/1573719659392_krpice sa zeljem.jpeg" /></p>

<p><strong>Utorak 12.11.</strong></p>

<p>kelj varivo + fa&scaron;iranci</p>

<p><img src="http://192.168.210.140:3002/1522939120396_kelj faširanci.jpg" /></p>

<p><strong>Četvrtak 07.11.</strong></p>

<p>bistra juha + rižoto s gljivama + pohana puretina + salata (zelje)</p>

<p><img src="http://192.168.210.140:3002/1573555608694_61485063-rizoto-gljive.jpg" /></p>

<p><strong>Ponedjejak 04.11.</strong></p>

<p>punjena paprika + pire</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Utorak 29.10.</strong></p>

<p>&nbsp;chili con carne + palenta + salata</p>

<p><img src="http://192.168.210.140:3002/1540896691947_chili con carne.jpg" /></p>

<p><strong>Petak 25.10.</strong></p>

<p>&nbsp;riblja juha + riba + prilog</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 22.10.2019.</strong></p>

<p>mahune varivo + pečeno meso</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Četvrtak 17.10.</strong></p>

<p>juha + &scaron;pageti + bolonjez umak + salata</p>

<p><img src="http://192.168.210.140:3002/1526289812596_spaghetti-bolognese-106560-1.jpeg" /></p>

<p><strong>Utorak 15.10.</strong></p>

<p>gra&scaron;ak + noklice + pečeno meso</p>

<p><img src="http://192.168.210.140:3002/1523269384195_grašak varivo i pečeno meso.jpg" /></p>

<p><strong>Četvrtak 10.10.</strong></p>

<p>punjena paprika + pire + desert</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Četvrtak 03.10.</strong></p>

<p>&scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak 01.10.</strong></p>

<p>kelj varivo + fa&scaron;iranci</p>

<p><img src="http://192.168.210.140:3002/1522939120396_kelj faširanci.jpg" /></p>

<p><strong>Utorak 10.09.</strong></p>

<p>punjena paprika + pire</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Četvrtak 18.07.</strong></p>

<p>buča (varivo s vrhnjem) + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1563442031573_buča varivo.jpg" /></p>

<p><strong>Utorak 16.07.</strong></p>

<p>juha + juneći umak sa &scaron;ampinjonima + &scaron;iroki rezanci</p>

<p><img src="http://192.168.210.140:3002/1523269264981_juneci-vrat-u-umaku.jpg" /></p>

<p><strong>Četvrtak 11.07.</strong></p>

<p>riblja juha + riba + prilog</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 09.07.</strong></p>

<p>bistra juha + pohano + kuhani krumpir + mahune salata</p>

<p><img src="http://192.168.210.140:3002/1562661591521_Ručak.jpg" /></p>

<p><strong>Četvrtak 04.07.</strong></p>

<p>varivo krastavci + pečena piletina&nbsp;</p>

<p><img src="http://192.168.210.140:3002/1562661695185_varivo krastavci.png" /></p>

<p><strong>Utorak 02.07.</strong></p>

<p>punjena paprika + pire + desert</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Utorak 28.05.</strong></p>

<p>punjena paprika + pire + desert</p>

<p><img src="http://192.168.210.140:3002/1535965537530_Najbolji-recept-za-punjene-paprike.jpg" /></p>

<p>Četvrtak 23.05.</p>

<p>&nbsp;juha + juneći saft + &scaron;iroki rezanci + salata</p>

<p><img src="http://192.168.210.140:3002/1523269264981_juneci-vrat-u-umaku.jpg" /></p>

<p><strong>Utorak 21.05.</strong></p>

<p>slatko zelje s vrhnjem + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Četvrtak 16.05.</strong></p>

<p>mahune varivo + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 07.05.</strong></p>

<p>juha + wok (piletina) + makaroni + salata</p>

<p><img src="http://192.168.210.140:3002/1557219315253_slatka-piletina-s-tjesteninom-i-povrcem.jpg" /></p>

<p><strong>Četvrtak 02.05.</strong></p>

<p>kelj varivo + fa&scaron;iranci + desert</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Utorak 30.04.</strong></p>

<p>&nbsp;juha + provansalski rižoto + salata</p>

<p><img src="http://192.168.210.140:3002/1527584887974_rizoto-s-rajcicom-i-pecenom-paprikom-img.jpg" /></p>

<p><strong>Četvrtak 25.04.</strong></p>

<p>grah (varivo) + suho meso ili kobasa + desert</p>

<p><img src="http://192.168.210.140:3002/1541669687023_grah varivo.jpg" /></p>

<p><strong>Utorak 23.04.</strong></p>

<p>&scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Četvrtak 18.04.</strong></p>

<p>riblja juha + riba + prilog</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 16.04.</strong></p>

<p>punjena paprika + pire + desert</p>

<p><img src="http://192.168.210.140:3002/1535965537530_Najbolji-recept-za-punjene-paprike.jpg" /></p>

<p><strong>Četvrtak 11.04.</strong></p>

<p>fa&scaron;iranci + poriluk (varivo) + desert (puding)</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Utorak 09.04.</strong></p>

<p>&nbsp;juha + pečeni zabaci + mahune i krumpir na le&scaron;o + salata (cikla)</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Četvrtak 04.04.</strong></p>

<p>juha + bolonjez + &scaron;pageti + salata</p>

<p><img src="http://192.168.210.140:3002/1526289812596_spaghetti-bolognese-106560-1.jpeg" /></p>

<p><strong>Utorak 02.04.</strong></p>

<p>prisiljeno zelje + pire + pečeni &scaron;nicli</p>

<p><img src="http://192.168.210.140:3002/1554189879629_prisiljeno zelje.jpg" /></p>

<p><strong>Četvrtak 28.03.</strong></p>

<p>riba + prilog</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 26.03.</strong></p>

<p>gula&scaron; + desert</p>

<p><img src="http://192.168.210.140:3002/1553596082574_gulaš.jpg" /></p>

<p><strong>Četvrtak 21.03.</strong></p>

<p>bistra juha + piletina u umaku od &scaron;ampinjona + njoki + salata</p>

<p><img src="http://192.168.210.140:3002/1549283608179_njoki.jpg" /></p>

<p><strong>Utorak 19.03.</strong></p>

<p>&nbsp;mahune + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Četvrtak 14.03.</strong></p>

<p>&nbsp;juha + &scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak 12.03.</strong></p>

<p>poriluk varivo + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Četvrtak 08.03.</strong></p>

<p>&nbsp;juha + rizi-bizi + pohana puretina</p>

<p><img src="http://192.168.210.140:3002/1523868294938_pohana-piletina.jpg" /></p>

<p><strong>Utorak 05.03.</strong></p>

<p>punjena paprika + pire + desert (krafne)</p>

<p><img src="http://192.168.210.140:3002/1535965537530_Najbolji-recept-za-punjene-paprike.jpg" /></p>

<p><strong>Četvrtak 28.02.</strong></p>

<p>mije&scaron;ano varivo + pečeni zabaci + desert</p>

<p><img src="http://192.168.210.140:3002/1551347231255_miješano varivo.jpg" /></p>

<p><strong>Utorak 26.02.</strong></p>

<p>purica&nbsp;+&nbsp;mlinci</p>

<p><img src="http://192.168.210.140:3002/1512640577580_Purica s mlincima.jpg" /></p>

<p><strong>Utorak 19.02.</strong></p>

<p>chili con carne + palenta + salata</p>

<p><img src="http://192.168.210.140:3002/1524554823067_Chili-Con-Carne-mit-Polentaecken.jpg" /></p>

<p><strong>Četvrtak 14.02.</strong></p>

<p>riba + prilog + riblja juha</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 12.02.</strong></p>

<p>poriluk varivo + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Četvrtak 07.02.</strong></p>

<p>sarma + pire</p>

<p><img src="http://192.168.210.140:3002/1543918454056_sarma.jpeg" /></p>

<p><strong>Utorak 05.02.</strong></p>

<p>juha + lungić + njoki + salata</p>

<p><img src="http://192.168.210.140:3002/1549283608179_njoki.jpg" /></p>

<p><strong>Utorak 29.01.</strong></p>

<p>fa&scaron;iranci+kelj (varivo)+desert</p>

<p><img src="http://192.168.210.140:3002/1522939120396_kelj faširanci.jpg" /></p>

<p><strong>Četvrtak 24.01.</strong></p>

<p>pohana piletina+rizi-bizi+salata</p>

<p><img src="http://192.168.210.140:3002/1523868294938_pohana-piletina.jpg" /></p>

<p><strong>Srijeda 16.01.</strong></p>

<p>juha+&scaron;pinat+pire+pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Petak 11.01.</strong></p>

<p>&nbsp;mahune (varivo) + pečeno meso</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 08.01.</strong></p>

<p>sarma+pire+desert</p>

<p><img src="http://192.168.210.140:3002/1543918454056_sarma.jpeg" /></p>

<p><strong>Utorak 11.12.</strong></p>

<p>mahune (varivo) + pečeno meso</p>

<p><img src="http://192.168.210.140:3002/1526887048229_zelje.jpg" /></p>

<p><strong>Četvrtak 06.12.</strong></p>

<p>mlinci + purica + salata</p>

<p><img src="http://192.168.210.140:3002/1512640577580_Purica s mlincima.jpg" /></p>

<p><strong>Utorak 04.12.</strong></p>

<p>sarma + pire</p>

<p><img src="http://192.168.210.140:3002/1543918454056_sarma.jpeg" /></p>

<p><strong>Četvrtak 29.11.</strong></p>

<p>juha + bolonjez + &scaron;pageti + salata</p>

<p><img src="http://192.168.210.140:3002/1526289812596_spaghetti-bolognese-106560-1.jpeg" /></p>

<p><strong>Utorak 27.11.</strong></p>

<p>rizi-bizi + pohana piletina + salata</p>

<p><img src="http://192.168.210.140:3002/1523868294938_pohana-piletina.jpg" /><strong>&nbsp;</strong></p>

<p><strong>Četvrtak 22.11</strong>.</p>

<p>&nbsp;juha + lički odrezak + krumpir na kockice + salata</p>

<p><img src="http://192.168.210.140:3002/1542875616364_lički odrezak.jpg" /></p>

<p><strong>Utorak 20.11.</strong></p>

<p>kelj varivo&nbsp;+ fa&scaron;iranci + desert</p>

<p><img src="http://192.168.210.140:3002/1522939120396_kelj faširanci.jpg" /></p>

<p><strong>Četvrtak 15.11.</strong></p>

<p>riblja juha + riba + prilog</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak 13.11.</strong></p>

<p>juha od rajčice + krpice sa zeljem + pečeni zabaci + salata</p>

<p><img src="http://192.168.210.140:3002/1542102252738_krpice sa zeljem.jpeg" /></p>

<p><strong>Četvrtak 08.11.</strong></p>

<p>grah varivo + suho meso</p>

<p><img src="http://192.168.210.140:3002/1541669687023_grah varivo.jpg" /></p>

<p><strong>Utorak 06.11.</strong></p>

<p>prisiljeno zelje + pire + pečeno meso + (desert)</p>

<p><img src="http://192.168.210.140:3002/1541670750121_prisijeno zelje.jpg" /></p>

<p><strong>Utorak 30.10.</strong></p>

<p>Chilli con carne + žganci + salata</p>

<p><img src="http://192.168.210.140:3002/1540896691947_chili con carne.jpg" /></p>

<p><strong>Četvrtak 25.10.</strong></p>

<p>&nbsp;juha + mahune&nbsp;+ pohana piletina</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 23.10.</strong></p>

<p>Punjena paprika + pire + desert</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Četvrtak 18.10.</strong></p>

<p>&Scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak 16.10.</strong></p>

<p>Juha<strong> +&nbsp;</strong>juneći saft + &scaron;iroki rezanci + salata</p>

<p><img src="http://192.168.210.140:3002/1523269264981_juneci-vrat-u-umaku.jpg" /></p>

<p><strong>Četvrtak 11.10.</strong></p>

<p>juha + riba + karfiol na salatu</p>

<p><img src="http://192.168.210.140:3002/1539675000204_riba + karfiol.jpg" /></p>

<p><strong>Utorak 25.09.</strong></p>

<p>&nbsp;juha + bolonjez + &scaron;pageti + salata</p>

<p><img src="http://192.168.210.140:3002/1526289812596_spaghetti-bolognese-106560-1.jpeg" /></p>

<p><strong>Četvrtak 20.09.</strong></p>

<p>slatko zelje s vrhnjem + pečeni kare + desert</p>

<p><img src="http://192.168.210.140:3002/1537781047857_Slatko zelje.jpg" /></p>

<p><strong>Utorak 18.09.</strong></p>

<p>&nbsp;juha + rizi bizi + pohana piletina + salata</p>

<p><img src="http://192.168.210.140:3002/1523868294938_pohana-piletina.jpg" /></p>

<p><strong>Četvrtak 13.09.</strong></p>

<p>buča (varivo) + pire + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1536822120226_velika_bundeva.jpg" /></p>

<p><strong>Utorak 11.09.</strong></p>

<p>Juha + piletina u umaku od gljiva + njoki + salata</p>

<p><img src="http://192.168.210.140:3002/1536655186048_njoki-s-tartufima-i-vrganjima-img.jpg" /></p>

<p><strong>Četvrtak 06.09.</strong></p>

<p>Mahune (varivo) + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Utorak 04.09.</strong></p>

<p>Punjene paprike + pire</p>

<p><img src="http://192.168.210.140:3002/1535965522475_P7130058.jpg" /></p>

<p><strong>Utorak 29.05.</strong></p>

<p>krem juha + provansalski rižoto + salata</p>

<p><img src="http://192.168.210.140:3002/1527584887974_rizoto-s-rajcicom-i-pecenom-paprikom-img.jpg" /></p>

<p><strong>Utorak, 22.05.</strong></p>

<p>slatko zelje&nbsp;s vrhnjem + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1526887048229_zelje.jpg" /></p>

<p><strong>Četvrtak, 17.05.</strong></p>

<p>juha + riba + krumpir salata</p>

<p><img src="http://192.168.210.140:3002/1526886903465_riba.jpg" /></p>

<p><strong>Utorak, 15.05.</strong></p>

<p>bolognese + &scaron;pageti + salata</p>

<p><img src="http://192.168.210.140:3002/1526289812596_spaghetti-bolognese-106560-1.jpeg" /></p>

<p><strong>Četvrtak, 10.05.</strong></p>

<p>&Scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Ponedjeljak, 07.05.</strong></p>

<p>Mahune (varivo) + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1525439476597_mahune.jpg" /></p>

<p><strong>Četvrtak, 03.05.</strong></p>

<p>Bistra juha + lungić u umaku + njoki + salata</p>

<p><img src="http://192.168.210.140:3002/1525336121174_njoki + lungić.jpg" /></p>

<p><strong>Utorak 24.04.</strong></p>

<p>Chili&nbsp;con carne + palenta + salata + desert</p>

<p><img src="http://192.168.210.140:3002/1524554823067_Chili-Con-Carne-mit-Polentaecken.jpg" /></p>

<p><strong>Četvrtak 19.04.</strong></p>

<p>Juha + rizi-bizi + pohana piletina</p>

<p><img src="http://192.168.210.140:3002/1523868291487_punjena paprika.jpg" /></p>

<p><strong>&nbsp;</strong><strong>Utorak 17.04.</strong></p>

<p>Punjena paprika + pire</p>

<p><img src="http://192.168.210.140:3002/1523868294938_pohana-piletina.jpg" /></p>

<p><strong>Četvrtak, 12.04.</strong></p>

<p>Gra&scaron;ak varivo + pečeno meso + desert</p>

<p><img src="http://192.168.210.140:3002/1523269384195_grašak varivo i pečeno meso.jpg" /></p>

<p><strong>Utorak, 10.04.</strong></p>

<p>Juha<strong> +&nbsp;</strong>juneći saft + &scaron;iroki rezanci + salata</p>

<p><img src="http://192.168.210.140:3002/1523269264981_juneci-vrat-u-umaku.jpg" /></p>

<p><strong>Petak, 06.04.</strong></p>

<p>Kelj varivo&nbsp;+ fa&scaron;iranci + desert</p>

<p><img src="http://192.168.210.140:3002/1522939120396_kelj faširanci.jpg" /></p>

<p><strong>Srijeda, 04.04.</strong></p>

<p>juha + &scaron;pinat + pire + pečeni zabaci</p>

<p><img src="http://192.168.210.140:3002/1522828864922_P7260028.jpg" /></p>

<p><strong>Utorak, 20.03.</strong>&nbsp;</p>

<p>Juha + pečeni zabaci + mahune s krumpirom na le&scaron;o + cikla</p>

<p><img alt="image" src="https://klokanica.24sata.hr/media/img/7f/0c/c659b220f732be1e1a69.jpeg" /></p>

<p><strong>Četvrtak, 22.03.</strong>&nbsp;</p>

<p>Prisiljeno zelje + pire + pečeni &scaron;nicli</p>

<p><img alt="image" src="https://2.bp.blogspot.com/-6oLVw5tzNX4/V5tIbLlXrSI/AAAAAAAAVgA/KrvW7QbCwEA8o_YPRw8-Yk28d7TqnM9-gCLcB/s1600/prisiljenozelje0202.JPG" /></p>

<p><strong>Utorak, 27.03.</strong>&nbsp;</p>

<p>Grah + suho meso ili kobasa + d esert</p>

<p><img src="http://192.168.210.140:3002/1541669687023_grah varivo.jpg" /></p>

<p><strong>Četvrtak, 29.03.</strong>&nbsp;</p>

<p>riblja juha + riba + prilog</p>

<p><img alt="image" src="https://blog.vecernji.hr/media/img/22/13/f2d2d961f58f7ea5362a.jpeg" /></p>
